html, body{
	font-size: 12px;
	background-color: #ecece4;
}
#header{
	width:100%;
	background:#b9d5bf;	
	overflow: hidden; /*Empêche height = 0*/
	padding:5px 0;
}
#header #titre{
	font-size: 32px;
	padding-right: 15px;
}
.centreV{
	clear:both;
	display:block;
	margin-top: 25px;
}
#header img{
	max-height:30px;
}
#header #logo{
	max-height:120px;
}
a{
	text-decoration:none;
	outline:none;
}
div.action{
	width:30%;
	padding:30px;
	background:#deceb7;
	margin: 30px auto;
}
.action span{
	font-size:38px;
	font-weight: 700;
}
.action a{
		text-decoration:none;
	outline:none;
	color:#333;
}
.action span:hover{
	color:#fff;
	cursor: pointer;
}
.menu {
	display:block;
	margin:0;
	padding: 0;
}
.menu li{
	display:inline-block;
	padding:0 35px;
}

.menu a{
	font-weight:700;
	font-size:15px;
	outline:none;
	text-decoration:none;
	color: #000;
}
.menu li:hover > a{
	color:#fff;
}
.titreSection{
	font-size: 28px;
	text-align: center;
}
.separateur{
	width:60%;
	height: 2px;
	background:#b9d5bf;
}
.gauche{
	float:left;
}
.droite{
	float:right;
}
.options ul{
	padding:0;
}
li.options{
	padding:0;
}

.blocPresentation{
	overflow:auto;
	width:100%;
	clear:both;
}
.colonnePresentation{
	float:left;
	margin-right:150px;
}
.libelle{
	font-weight:bold;
	font-size:16px;
}

table{
	margin-top:20px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

form{
	padding-top:30px;
}
